<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>collabo_flag</key>
		<integer>1</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504010000</string>
		<key>have_flag</key>
		<integer>1</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>148</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/148_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/148_title.png</string>
		<key>ptype</key>
		<integer>6</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>1</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201506302359</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>1</integer>
		<key>pid</key>
		<integer>2002</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2002_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2002_title.png</string>
		<key>ptype</key>
		<integer>6</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>1</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201506302359</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>1</integer>
		<key>pid</key>
		<integer>2003</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2003_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2003_title.png</string>
		<key>ptype</key>
		<integer>4</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>1</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201506302359</string>
		<key>have_flag</key>
		<integer>1</integer>
		<key>new_flag</key>
		<integer>1</integer>
		<key>pid</key>
		<integer>2001</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2001_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2001_title.png</string>
		<key>ptype</key>
		<integer>5</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>1</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201506302359</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>1</integer>
		<key>pid</key>
		<integer>2004</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2004_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2004_title.png</string>
		<key>ptype</key>
		<integer>1</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201502191300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>181</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/181_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/181_title.png</string>
		<key>ptype</key>
		<integer>6</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504171300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>1</integer>
		<key>pid</key>
		<integer>2013</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2013_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2013_title.png</string>
		<key>ptype</key>
		<integer>6</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504171300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>1</integer>
		<key>pid</key>
		<integer>2014</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2014_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2014_title.png</string>
		<key>ptype</key>
		<integer>6</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201503201300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>202</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/202_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/202_title.png</string>
		<key>ptype</key>
		<integer>6</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201502191300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>182</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/182_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/182_title.png</string>
		<key>ptype</key>
		<integer>6</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201503201300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>203</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/203_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/203_title.png</string>
		<key>ptype</key>
		<integer>6</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504010000</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>134</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/134_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/134_title.png</string>
		<key>ptype</key>
		<integer>6</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504010000</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>89</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/89_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/89_title.png</string>
		<key>ptype</key>
		<integer>6</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201502191300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>183</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/183_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/183_title.png</string>
		<key>ptype</key>
		<integer>4</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201503201300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>204</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/204_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/204_title.png</string>
		<key>ptype</key>
		<integer>4</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504171300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>1</integer>
		<key>pid</key>
		<integer>2015</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2015_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2015_title.png</string>
		<key>ptype</key>
		<integer>4</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504010000</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>90</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/90_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/90_title.png</string>
		<key>ptype</key>
		<integer>4</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504010000</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>133</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/133_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/133_title.png</string>
		<key>ptype</key>
		<integer>4</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504171300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>1</integer>
		<key>pid</key>
		<integer>2016</integer>
		<key>prize_icon_img</key>
		<string></string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2016_title.png</string>
		<key>ptype</key>
		<integer>2</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201502191300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>180</integer>
		<key>prize_icon_img</key>
		<string></string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/180_title.png</string>
		<key>ptype</key>
		<integer>2</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201503201300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>205</integer>
		<key>prize_icon_img</key>
		<string></string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/205_title.png</string>
		<key>ptype</key>
		<integer>2</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201502191300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>184</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/184_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/184_title.png</string>
		<key>ptype</key>
		<integer>5</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201502191300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>185</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/185_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/185_title.png</string>
		<key>ptype</key>
		<integer>5</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201503201300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>207</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/207_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/207_title.png</string>
		<key>ptype</key>
		<integer>5</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504171300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>1</integer>
		<key>pid</key>
		<integer>2017</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2017_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2017_title.png</string>
		<key>ptype</key>
		<integer>5</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201503201300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>206</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/206_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/206_title.png</string>
		<key>ptype</key>
		<integer>5</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504171300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>1</integer>
		<key>pid</key>
		<integer>2018</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2018_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2018_title.png</string>
		<key>ptype</key>
		<integer>5</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504010000</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>56</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/56_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/56_title.png</string>
		<key>ptype</key>
		<integer>5</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504010000</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>135</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/135_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/135_title.png</string>
		<key>ptype</key>
		<integer>5</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201502191300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>47</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/47_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/47_title.png</string>
		<key>ptype</key>
		<integer>1</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201503201300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>209</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/209_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/209_title.png</string>
		<key>ptype</key>
		<integer>1</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201502191300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>186</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/186_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/186_title.png</string>
		<key>ptype</key>
		<integer>1</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504171300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>1</integer>
		<key>pid</key>
		<integer>2019</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2019_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2019_title.png</string>
		<key>ptype</key>
		<integer>1</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201503201300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>208</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/208_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/208_title.png</string>
		<key>ptype</key>
		<integer>1</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504171300</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>1</integer>
		<key>pid</key>
		<integer>2020</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2020_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/2020_title.png</string>
		<key>ptype</key>
		<integer>1</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504010000</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>91</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/91_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/91_title.png</string>
		<key>ptype</key>
		<integer>1</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>collabo_flag</key>
		<integer>0</integer>
		<key>downloaded_flag</key>
		<integer>0</integer>
		<key>expire_date</key>
		<string>201504010000</string>
		<key>have_flag</key>
		<integer>0</integer>
		<key>new_flag</key>
		<integer>0</integer>
		<key>pid</key>
		<integer>136</integer>
		<key>prize_icon_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/136_icon.png</string>
		<key>prize_title_img</key>
		<string>https://taikoplus.s3.amazonaws.com/image/prize/1/136_title.png</string>
		<key>ptype</key>
		<integer>1</integer>
		<key>secret_flag</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
