<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>10</string>
	<string>101</string>
	<string>102</string>
	<string>134</string>
	<string>137</string>
	<string>141</string>
	<string>142</string>
	<string>148</string>
	<string>181</string>
	<string>182</string>
	<string>2002</string>
	<string>2013</string>
	<string>2014</string>
	<string>202</string>
	<string>203</string>
	<string>2037</string>
	<string>2039</string>
	<string>2062</string>
	<string>21</string>
	<string>22</string>
	<string>3</string>
	<string>89</string>
	<string>93</string>
	<string>94</string>
</array>
</plist>
